on early-boot
    start miniafservice
    start init_wlan_bt

service init_wlan_bt /system/bin/sh /system/etc/init_hcismd_up.sh
    class main
    user root
    group root
    oneshot

service miniafservice /system/bin/miniafservice
    class core
    user root
    group audio
